<!DOCTYPE html>
<html data-bs-theme="<%= theme %>">
  <head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Al-Qur'an || Juz <%= no %>" />
    <meta name="description" content="Klik disini untuk membaca Al-Qur'an Juz <%= no %> secara online" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Al-Qur'an || Juz <%= no %></title>

    <link rel="stylesheet" href="/src/bootstrap.min.css">
    <link rel="stylesheet" href="/src/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://quran.mrestu.my.id/" />
    <meta property="og:title" content="Al-Qur'an || Juz <%= no %>" />
    <meta property="og:description" content="Klik disini untuk membaca Al-Qur'an Juz <%= no %> secara online" />
    <meta property="og:image" content="https://quran.mrestu.my.id/src/al-quran-14969.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://quran.mrestu.my.id/" />
    <meta property="twitter:title" content="Al-Qur'an || Juz <%= no %>" />
    <meta property="twitter:description" content="Klik disini untuk membaca Al-Qur'an Juz <%= no %> secara online" />
    <meta property="twitter:image" content="https://quran.mrestu.my.id/src/al-quran-14969.png" />

    <!-- Meta Tags Generated with https://metatags.io -->
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/src/al-quran-14834.png" alt="Al-Qur'an" width="20" class="d-inline-bloxk align-text-top">
          Al-Qur'an digital
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#search">
          <i class="bi bi-search"></i>
        </button>
        <!--<button class="navbar-toggler" type="button" onclick="bookmark(this)">
          <i class="bi bi-bookmark"></i>
        </button>-->
        <button class="navbar-toggler" type="button" onclick="location.href = '/';">
          <i class="bi bi-house"></i>
        </button>
      </div>
    </nav>
    <br>
    <div class="container">
      <div><% for(const ayat of data) { %>
        <div class="ayat">
          <h1 class="text-center"><%= ayat.no %></h1>
          <hr>
          <h3 class="text-end arabic"><%= ayat.arabic %></h3>
          <p><%= ayat.latin.trim() %></p>
          <p><%- ayat.translation.replace(/([0-9]+\))/g, "") %></p>
        </div>
        <br><br><% } %>
      </div>
      <div class="modal" tabindex="-1" id="search">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Telusuri ayat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Masukkan nomor ayat atau terjemahan ayat untuk mulai mencari, contoh(Al-Baqarah): <a href="#" onclick="document.querySelector('[type=search]').value = 'Allah tidak membebani seseorang';">Terjemahan</a> || <a href="#" onclick="document.querySelector('[type=search]').value = '286';">Nomor ayat</a></p>
              <input type="search" placeholder="Teks atau nomor ayat">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="search(document.querySelector('[type=search]'))">Cari</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" tabindex="-1" id="error">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Error</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="errorMsg"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/bootstrap.bundle.min.js"></script>
    <script src="/src/jquery.min.js"></script>
    <script>
      function search(input) {
        const q = input.value;
        if(!q) {
          $("#errorMsg").text("Kueri tidak boleh kosong!");
          new bootstrap.Modal("#error").show();
          return
        };

        const out = _ayat.find(a => a.ayah == q || a.translation.toLowerCase().includes(q.toLowerCase()));
        input.value = "";
        if(!out) {
          $("#errorMsg").text("Tidak dapat menemukan ayat dengan kueri tersebut!");
          new bootstrap.Modal("#error").show();
          return
        };

         const html = `
        <div class="ayat">
          <h1 class="text-center">${out.ayah}</h1>
          <hr>
          <h3 class="text-end arabic">${out.arabic}</h3>
          <p>${out.latin.trim()}</p>
          <p><${out.translation.replace(/([0-9]+\))/g, `<sup class="footnotes" data-bs-toggle="modal" data-bs-target="#footnotes" data-ayat="${out.ayah}">$1</sup>`)}</p>
        </div>
        <br><br>`;
        $(".container > div:nth-child(1)").html(html);
      };
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MYVJGJFLCC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "G-MYVJGJFLCC");
    </script>
  </body>
</html>
